# PUBLIC REPOSITORY WARNING: never commit Oracle binaries/media, passwords, generated VM images, or licensed software.
secrets.json
**/secrets.json
*.secret.json
*LINUX.X64*db_home*.zip
Media/Oracle/
Cache/
*.rpm
.vagrant/
*.vbox
*.vbox-prev
*.vdi
*.vmdk
*.box
*.ova
*.zip
!package-template/**/*.zip
output/*
!output/.gitkeep
Builds/
Output/
MockYDrive/
*.log
logs/
*.rsp
*.rsp.rendered
*password*
*.tmp
*.temp
.vscode/
.idea/
*.ps1xml
