gdbName=WCDEV
sid=WCDEV
databaseConfigType=SI
templateName=General_Purpose.dbc
sysPassword=__SYS_PASSWORD__
systemPassword=__SYSTEM_PASSWORD__
createAsContainerDatabase=true
numberOfPDBs=1
pdbName=WCPDB
pdbAdminPassword=__PDB_PASSWORD__
characterSet=AL32UTF8
nationalCharacterSet=AL16UTF16
totalMemory=2048
emConfiguration=NONE
sampleSchema=false
storageType=FS
datafileDestination=/u02/oradata
recoveryAreaDestination=/u03/fra
